@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores personalizados dentro de Tailwind */
@layer base {
  body {
    @apply text-gray-800 dark:text-gray-200 font-sans;
    background-color: theme('colors.background-light');
  }

  .dark body {
    background-color: theme('colors.background-dark');
  }
}
